<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <div class="logo">
      <img class="center" src="../../../assets/coreui-img.png" alt="">
    </div>
    <div class="side-items">

      <div class="item" routerLink="/dashboard">
        <mat-icon class="mx-3">speedometer</mat-icon>
        Dashboard  <button class="mx-3" mat-raised-button color="primary">New</button>
      </div>
     

      <div class="side-heading">
        THEME
      </div>
      <div class="theme-item">
        <mat-icon class="mat-18">place</mat-icon>
        Colors
      </div>
      <div class="theme-item typo">
        <mat-icon class="mat-18">edit</mat-icon>
        Typography
      </div>

      <div class="side-heading">
        Components
      </div>
    


      <mat-accordion *ngFor="let accordian of navItems " class="example-headers-align" multi>
     
          <mat-expansion-panel #pagecontainer>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="mat-18 icon">{{accordian.icon}}</mat-icon>{{accordian.name}}
              </mat-panel-title>
           
            </mat-expansion-panel-header>
          
        
          <div class="subTitle" *ngFor="let items of accordian.children"> <mat-icon class="mat-18">{{items.icon}}</mat-icon>{{items.name}}</div>
          
          </mat-expansion-panel>
          </mat-accordion>
          <div class="item" routerLink="/dashboard">
            <mat-icon class="mx-3">widgets</mat-icon>
         Widgets <button class="mx-3" mat-raised-button color="primary">New</button>
          </div>
          <div class="side-heading">
            Extras
          </div>

          <div class="theme-item">
            <mat-icon class="mat-18">insert_drive_file</mat-icon>
            Docs
          </div>
          <div class="theme-item">
            <mat-icon class="mat-18">layers</mat-icon>
            Try Core UIPRO
          </div>
          </div>
          </mat-drawer>
          </mat-drawer-container>