.contain{
    display:flex;color: white; justify-content: space-between;
}
.card{
   height: 200px;width: 25%;
    margin-right: 23px;  
}
.value{
    font-weight: 400;font-size:24px
}
.percentage{
    display: inline;
}