.position{
  margin-bottom: 45px;margin-top: 200px;
 
}
.header{
  position:fixed;
 // left: 230px;
  margin-bottom: 45px;
 
  top:0;
 
 width: 88%;
  z-index: 7;
}
.main{
  z-index: 7;position:relative;top:0
}














// app-header{
//   z-index: 7;
//   position: fixed;
//   width: 100%;
  
// }
