
<app-sidebar  [isMenuClicked]="isMenuClicked"></app-sidebar>

    
    <div class="main"  [ngStyle]="isMenuClicked ? {'width': '100%', 'left': '0px'} : {'width':'88%','left':'230px'}">
    
        <div class="header">
            <app-header (menuState)="menuClicked($event)"></app-header>
        </div>
        <div class="container">
        
        <div class="position">
            <app-main></app-main>
        </div>
        <app-chart></app-chart>
        <app-media></app-media>
        </div>
        </div>
    
 

