.position{
  margin-bottom: 45px;margin-top: 200px;
  width: 100%;
 
}
.header{
  position:fixed;

  margin-bottom: 45px;
 
  top:0;

  z-index: 7;
 
}
.main{
  z-index: 7;position:absolute;top:0;
  left: 230px;
  
}














// app-header{
//   z-index: 7;
//   position: fixed;
//   width: 100%;
  
// }
