<app-sidebar [navItems]="navItems" [isMenuClicked]="isMenuClicked"></app-sidebar>

<div class="main" [ngStyle]="isMenuClicked ? { 'left': '0px','right':'0'} : {'left':'240px','right':'0'}" >
        {{isMenuClicked}}
    
        <div class="header" [ngStyle]="isMenuClicked ? { 'left': '0px','right':'0'} : {'left':'240px','right':'0'}">
            <app-header (menuState)="menuClicked($event)" [menuItem1]="menuItem1" [menuItem2]="menuItem2"></app-header>
        </div>
        <div class="container">
        
        <div class="position">
            <app-main [mainCardItems]="mainCardItems"></app-main>
        </div>
        <app-chart></app-chart>
        <app-media [mediaDetails]="mediaDetails"></app-media>
        </div>
        </div>
    
 

