<div style="display:flex;color: white;">
    <div class="card" style="background-color: blue;padding: 12px;height: 200px;width: 25%;" >
        <div class="card-body">
        <span style="font-weight: 400;font-size:24px">26K</span>
        <span style="display: inline;">(-12.4%)</span>
        <div>Users</div>
        </div>
       
    </div>
    <div class="card mx-3" style="background: rgba(51, 153, 255);padding: 12px;width: 25%;" >
        <div class="card-body">
            <span style="font-weight: 400;font-size:24px">26K</span>
            <span style="display: inline;">(-12.4%)</span>
            <div>Users</div>
            </div>
        </div>
        
    <div class="card" style="background:gold;padding: 12px;width: 25%;">
        <div class="card-body">
            <span style="font-weight: 400;font-size:24px">26K</span>
            <span style="display: inline;">(-12.4%)</span>
            <div>Users</div>
            </div>
       
    </div>
    <div class="card mx-3" style="background:red;padding: 12px;width: 25%;">
        <div class="card-body">
            <span style="font-weight: 400;font-size:24px">26K</span>
            <span style="display: inline;">(-12.4%)</span>
            <div>Users</div>
            </div>
        
    </div>


</div>
