
.media{
    height: 100px;
}
.bi.bi-facebook{
    color:white;font-size: 54px;display: flex;justify-content: center;
}

.bi.bi-twitter{
    color:white;font-size: 54px;display: flex;justify-content: center;
}

.bi.bi-linkedin{
    color:white;font-size: 54px;display: flex;justify-content: center;
}
.contain{
    display: flex;
}
.card{
    width: 33%;
}
.content{
    padding: 12px;display: flex;justify-content: space-between;
}