<div style="display: flex; ;" class="my-5">
<div class="card" style="width: 33%;">

        <div class="py-3 facebook"><i class="bi bi-facebook"></i></div>
        <div style="padding: 12px;display: flex;justify-content: space-between;">
            <span>Followers</span>
            <span>Tweet</span>

        

    </div>
</div>
<div class="card mx-5" style="width: 33%;">
   
        <div class="py-3 twitter" ><i class="bi bi-twitter"></i></div>
        <div style="padding: 12px;display: flex;justify-content: space-between;">
            <span>Followers</span>
            <span>Tweet</span>
            </div>
        
   
</div>
<div class="card" style="width: 33%;">

        <div class="py-3 linkedin"><i class="bi bi-linkedin"></i></div>
        <div style="padding: 12px;display: flex;justify-content: space-between;">
            <span>Followers</span>
            <span>Tweet</span>
        
    
</div>
</div>
