<div class="card">
    <div class="card-body">
      

            <mat-icon (click)="toggleMenu()" aria-hidden="false"aria-label="Example home icon">menu</mat-icon>
        
     
     <span class="px-3">Dashboard</span>
     <span class="px-3">Users</span>
     <span class="px-3">Settings</span>
    
     <span style="float:right;" >
     <mat-icon class="px-3">notifications_none</mat-icon> 
     <mat-icon class="px-3">apps</mat-icon> 
     <mat-icon class="px-3">local_post_office</mat-icon>
     <img src="../../../assets/profile.jpg" width="50px" height="50px" class="profile-pic" alt=""> 
     </span>
     <hr>
     <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a >Home</a></li>
          <li class="breadcrumb-item active" aria-current="page" routerLink="/dashboard"> Dashboard</li>
        </ol>
      </nav>

        
    </div>
  </div>
