.profile-pic{

    display: inline-block;
    
    margin-right: 23px;

    border-radius: 50%;
    top: -12px;
    position: relative;
    left: 23px;
  
}
.header-menu{
    background-color: grey;padding: 10px;
}
.items{
    display: flex;justify-content:space-between;align-items: center;
}